body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

canvas {
    background: white;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

#uiPanel {
    width: 90%;
    max-width: 900px;
}

#categoryBar {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.categoryButton {
    flex: 0 0 auto;
    padding: 10px 16px;
    border: none;
    background: #e0e0e0;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.categoryButton.active {
    background: #8ecae6;
    box-shadow: 0 0 10px rgba(33, 158, 188, 0.6);
}



#assetPreview {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px;
    background: white;
    border: 1px solid #ccc;

    max-height: 330px;   /* adjust based on desired rows */
    overflow-y: auto;
}


.assetOption {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.assetOption:hover {
    border-color: #219ebc;
}
.assetOption.selected {
    border-color: #219ebc;
    box-shadow: 0 0 10px rgba(33, 158, 188, 0.6);
}